<% include ../partial/header.ejs %>
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="lead">Photo Gallery</div>
				<div class="list-group">
					<li class="list-group-item">Item 1</li>
					<li class="list-group-item">Item 2</li>
					<li class="list-group-item">Item 3</li>
				</div>
			</div>
			<div class="col-md-9">
				<div class="thumbnail">
					<img class="img-responsive" src="<%= data.image %>" alt="">
					<div class="caption-full">
						<div class="pull-right">
							Something to say
						</div>
						<h4>
							<%= data.title %>
						</h4>
						<p>
							<%= data.description %>
						</p>
						<p>
							<em>Submitted by : <%= data.author.username %></em>
						</p>
						<!-- show only edit and delete button of own post -->
						<% if (authUser && data.author.id.equals(authUser._id)){%> 
						<a class="btn btn-warning" href="/photo/<%= data._id %>/edit">Edit</a>
						<form action="/photo/<%= data._id %>?_method=DELETE" method="post">
							<button class="btn btn-danger">Delete</button>
						</form>
						<% } %>
					</div>
				</div>
				<div class="well">
					<div class="text-right">
						<a href="/photo/<%= data.id %>/comments/new" class="btn btn-success" role="button">Add comment</a>
					</div>
					<hr>
					<% data.comments.forEach(function(comment){ %>
						<div class="row">
							<div class="col-md-12">
								<%= comment.author.username %>
									<span class="pull-right">10 days ago</span>
									<p>
										<%= comment.text %>
									</p>
									<a href="/photo/<%= data._id %>/comments/<%= comment._id %>/edit" class="btn btn-xs btn-warning">EDIT</a>
									<form action="/photo/<%= data._id %>/comments/<%= comment._id %>?_method=DELETE" method="post">
									<button class="btn btn-xs btn-danger">DELETE</button>
									</form>
									

							</div>
						</div>

						<% }); %>
				</div>

			</div>
		</div>

	</div>

	<% include ../partial/footer.ejs %>
