<% include ../partial/header.ejs %>
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="lead">Photo Gallery</div>
				<div class="list-group">
					<li class="list-group-item">Item 1</li>
					<li class="list-group-item">Item 2</li>
					<li class="list-group-item">Item 3</li>
				</div>
			</div>
			<div class="col-md-9">
				<div class="thumbnail">
					<img class="img-responsive" src="<%= data.image %>" alt="">
					<div class="caption-full">
						<div class="pull-right">
							Something to say
						</div>
						<h4>
							<%= data.title %>
						</h4>
						<p>
							<%= data.description %>
						</p>
						<p>
							<em>Submitted by : <%= data.author.username %></em>
						</p>
					</div>
				</div>
				<div class="well">
					<div class="text-right">
						<a href="/photo/<%= data.id %>/comments/new" class="btn btn-success" role="button">Add comment</a>
					</div>
					<hr>
					<% data.comments.forEach(function(comment){ %>
						<div class="row">
							<div class="col-md-12">
								<%= comment.author.username %>
									<span class="pull-right">10 days ago</span>
									<p>
										<%= comment.text %>
									</p>
									<p></p>
							</div>
						</div>

						<% }); %>
				</div>

			</div>
		</div>

	</div>

	<% include ../partial/footer.ejs %>
